.content {
    border-radius: 5px;
    grid-area: content;
    background-color: #F0F1F5;
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 400px 9fr;
    grid-template-areas: 
    "avatar description"
    "avatar wall";
}

.avatar {
    grid-area: avatar;
    margin: 20px 20px;
    width: 300px;
}
.avatar img{
    border-radius: 5px;
    object-fit: cover;
    max-width: 100%;
    min-height: 450px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
    grid-area: description;
    vertical-align: top;
    padding: 50px;
}
hr {
    width: 70%;
}